[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pandas = "*"
requests = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
